
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#preview {
    max-width: 260px;
    max-height: 400px;
    display: none;
    margin-left: 50px; /* ขยับไปทางขวา */
    margin-top: 20px;  /* ขยับลงด้านล่าง */
    margin-bottom: 20px;
}



.container {
    display: flex;
    width: 800px;

    margin-bottom: 3rem;
    margin-left: 5vw;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid #282aa7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  
    max-height:500px; 
    overflow-y: auto; 
}

.container::-webkit-scrollbar {
    width: 10px;
}


.container::-webkit-scrollbar-track {
    background: #f0f4ff; 
    border-radius: 10px; 
}

/* ตกแต่งปุ่มเลื่อน */
.container::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #6a5acd, #8a2be2); 
    border-radius: 10px; 
    border: 2px solid white; 
}


.container::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #8a2be2, #4b0082); 
}


h2 {
    font-size: 24px;
    color: #004fb6; 
    margin-bottom: 20px;
}

h3 {
    font-size: 20px;
    margin-top: 30px;
    color: #004fb6; 
}


button {
    background-color: #000f92; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #505fe2; 
}


input[type="file"] {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #000f92;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f8f9fa;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #000f92;
    border-radius: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: fixed;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:url(../dddd.png);
    background-size: cover;
    
}


.login-container {
    background-color: white;
    padding: 20px;
    margin-left: 73.5vw;
   
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 300px;
    text-align: center;
}


.login-container input {
    
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}


.login-container button {
    
    width: 100%;
    padding: 10px;
    background-color: #000f92;
    color: white;
    border: none;
    margin-top: 2.5rem;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container button:hover {
    background-color: #87a3ff;
}


#loginStatus {
    margin-top: 10px;
    font-size: 14px;
    color: #d9534f; 
}


.login-container input::placeholder {
    color: #aaa;
}


.file-item {
    display: flex;       
    align-items: center;   
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #500ca8;
    border-radius: 8px;
    margin: 5px 0;
    background: rgba(191, 194, 240, 0.493);
}


.file-name {
    flex: 1; 
    word-break: break-word; 
}


.file-actions {
    display: flex;
    gap: 10px;
}

.download-btn {
    color: blue;
    text-decoration: none;
    font-weight: bold;
}


.delete-btn {
    background: rgb(228, 82, 106);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.logout-btn{
    margin-top: 1rem;
}

.file-input{
    background-color: #2f51cc;
}
.file-input {
    display: none; 
}

.file-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff; 
    color: rgb(8, 0, 114);
    font-size: 14px;
    
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 0.5rem;
    margin-right: 5px;
    transition: 0.3s;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid #0011a8;
}

.file-label:hover {
    background-color: #d5cff8;
    border-color: #10009e;
}
